body
{
    margin: 0;
    padding: 0;
    background-color: white;
}
footer
{
    display: flex;
    background-color: maroon;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-size: 16px;
    color: white;
    height: 120px;
}
