#middle-section
{
    background-image: url("GRADWEB.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 200%;
    background-attachment: fixed;
    height: 850px;
}
#middle-banner
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 140px;
    width: 100%;
    display: grid;
    background-color: rgb(130, 130, 130, 60%);
    text-align: center;
    white-space: nowrap;
}
#middle-banner-text-1
{  
    color: white;
    opacity: 100%;
    font-family: "Raleway";
    font-size: 18px;
}
#middle-banner-text-2
{
    color: white;
    opacity: 100%;
    font-family: "Raleway";
    font-size: 62px;
    font-weight: 1000;
    margin-top: 0px;
}
