
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Nunito&family=Jost&family=REM&family=Playfair+Display:wght@700&display=swap");

html
{
    scroll-behavior: smooth;
}
#middle-section
{
    background-attachment: fixed;
    background-size: cover;
    background-image: url("imgs/background.webp");
    background-repeat: no-repeat;
    background-position: center;
    height: 60em;
}
@media screen and (max-width: 500px)
{
    #middle-section
    {
        background-attachment: local;
        height: 500px;
    }
}
#middle-banner
{
    position: relative;
    top: 50%;
    height: auto;
    width: 100%;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    display: grid;
    background-color: rgb(130, 130, 130, 60%);
    text-align: center;
}
#middle-banner-text-1
{  
    color: white;
    font-family: "Raleway";
    font-size: 1.2rem;
}
#middle-banner-text-2
{
    margin-top: 10px;
    color: white;
    opacity: 100%;
    font-family: "Raleway";
    font-size: 4rem;
    font-weight: 900;
}
#diff-way-bar
{
    text-align: center;
}
#diff-way-bar > p
{
    font-family: "Raleway";
    font-size: 4rem;
    margin-bottom: 30px;
}
@media screen and (max-width: 500px)
{
    #middle-banner
    {
        transform: translateY(-30px);
        padding-top: 7px;
        padding-bottom: 5px;
    }
    #middle-banner-text-1
    {  
        color: white;
        font-family: "Raleway";
        font-size: 0.9rem;
    }
    #middle-banner-text-2 { font-size: 2.5rem; }
    #diff-way-bar p { font-size: 3rem; }
}
#diff-way-bottom
{
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    width: 700px;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 1.5;
}
#diff-way-buttons 
{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}
#diff-way-buttons a.button
{
    width: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(0, 0, 0);
    text-align: center;
}
#diff-way-buttons a:nth-child(1) 
{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: "Avenir Light";
}
#diff-way-buttons a:nth-child(2) 
{
    background-color: inherit;
    font-family: "Playfair Display";
    font-weight: 900;
    font-size: 15px;
    color: black;
    line-height: 1.4;
}
#contact
{
    background-color: #2A2A2A;
    color: white;
    font-family: "Nunito";
    font-size: 23px;
}
#contact > p
{
    margin-top: 60px;
    padding-top: 40px;
    margin-bottom: 20px;
    font-family: "Raleway";
    font-size: 60px;
    text-align: center;
}
.social-links
{
    margin-bottom: 15px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
#contact img
{
    vertical-align: middle;
    height: 40px;
}
#instagram-background
{
    background-color: white;
    height: 40px;
    width: 40px;
    margin-top: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    border-radius: 50%;
}
#instagram-background > img
{
    margin-left: 1px;
    height: 25px;
    width: 25px;
} 
#contact > span
{
    font-size: 23px;
    margin-top: 60px;
    display: block;
    font-family: "Jost";
    text-align: center;
    margin-bottom: 30px
}
#rush-contacts
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 98%;
    width: 900px;
}
@media screen and (max-width: 712px)
{
    #rush-contacts
    {
        justify-content: center;
    }
}
.rush-chair
{
    padding: 10px;
    width: 400px;  /* previosuly 500px */
    height: auto;
    border: 7px solid white;
    background-color: maroon;
    margin: -7px;
    font-size: 18px;


    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}
@media screen and (max-width: 300px)
{
    #rush-contacts
    {
        width: 100%;
    }
    #diff-way-buttons
    {
        gap: 20px;
    }
}

.rush-chair-img {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    max-height: 150px;
}

.rush-chair-name
{
    font-family: "REM";
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 3px;
}
.rush-chair-number
{
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.rush-chair-subinfo
{
    font-size: 16px;
}