@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&family=Inter&swap=display");

#interest-form-title
{
    margin-top: 200px;
    font-family: "Raleway";
    font-size: 60px;
    text-align: center;
    font-weight: 400;
}
#interest-form-info
{
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans";
    font-size: 20px;
    width: 610px;
    text-align: center;
    line-height: 2.4;
}
#socials
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}
#socials a.button
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: maroon;
    height: 45px;
    width: 150px;
    font-family: "Inter";
    font-size: 16px;
    color: white;
}
#insta-embed
{
    margin-top: 60px;
    margin-left: 0px;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 610px)
{
    #interest-form-info
    {
        width: 90%;
    }
    #insta-embed
    {
        width: 90%;
    }
}