@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@350..700&swap=display");

#rush-background
{
    margin-top: 6.25em;
    padding-top: 1.875em;
    background-color: #CCCCCC;
}

#rush-top
{
    font-family: "Raleway";
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1.2rem;
    width: 60%;
}

#rush-top div:nth-child(2)
{
    width: 60%;
    line-height: 1.7;
    text-align: left;
    justify-content: center;
    align-items: center;
    
}


#rush-top div:first-of-type p /* this is RUSH TITLE */
{
    font-weight: 600;
    font-size: 3.25rem;
    margin: 0;
}

#rush-top div:nth-of-type(2) p /* this is the rush description */
{
    font-size: 1rem;
    color: white;
    background-color: maroon;
    padding-left: 1.25em;

    padding-right: 1.25em;
    padding-bottom: 2em;
    padding-top: 1.25em;
    float: left;
    margin-right: 1.25rem;
}

.clear
{
    clear: both;
}

.image-container
{
    padding-top: 1rem;
}

.img
{
    float: right;
}

.button 
{
    font-weight: 400;
    transition-duration: 0.4s;
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    z-index: 3;
  }

  .button:hover {

    background-color: white; /* Green */
    color: black;
  }



#rush-table /* flex container div for the descriptions of rush week*/
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}

#rush-table p
{
    text-align:center;
    font-weight: 400;
    padding-top: 1.25em;
    padding-right: .625em;
    padding-bottom: 3.75em;
    padding-left: 1.25em;
    flex: 1 1 0px;  
}

#rush-table span
{
    font-size: x-large;
    font-weight: 650;
    
}
#rush-table p:nth-child(odd)
{
    font-family: "Raleway";
    color: white;
    background-color: maroon
}

#rush-table p:nth-child(even)
{
    font-family: "Raleway";
    color: maroon;
    background-color: white;
}

